.swiper-container.mySwiper2.mb-4
  .swiper-wrapper
    -for(var x=0;x<12;x++)
      .swiper-slide
        a(href="https://dummyimage.com/1024x750/dee2e6/6c757d.jpg", data-lity)
          img(src="https://dummyimage.com/750x450/dee2e6/6c757d.jpg")
  .swiper-button-next
  .swiper-button-prev

.swiper-container.mySwiper1(thumbsSlider="")
  .swiper-wrapper
    -for(var x=0;x<12;x++)
      .swiper-slide
        img(src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg")