.mb-3.row
  label.col-sm-2.col-form-label(for="staticEmail") Email
  .col-sm-10
    input#staticEmail.form-control-plaintext(type="text", value="email@example.com")
.mb-3.row
  label.col-sm-2.col-form-label(for="staticEmail") Password
  .col-sm-10
    input#password.form-control-plaintext(type="password")