footer.py-4.bg-light.bg-gradient.mt-auto
    .container.px-4
        .row.align-items-center.justify-content-between.small
            .col-lg-4.text-muted
                | Copyright &copy; Your Website 2021
            .col-lg-4
                a(href='#') Privacy Policy
                | 
                | &middot;
                | 
                a(href='#') Terms &amp; Conditions
            .col-lg-4.text-center
                include ../../pages/includes/social.pug
