// Header
header.bg-dark.py-5
  .container.px-4.px-lg-5.my-5
    .text-center.text-white
      h1.display-4.fw-bolder Shop in style
      p.lead.fw-normal.text-white-50.mb-0 With this shop hompeage template