extends ../layouts/right-content.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Dashboard';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

block content 

  // Featured blog post
  include includes/posts/post-intro-section.pug
    
  .row.row-cols-1.row-cols-md-2.g-4
    - for (var x = 0; x < 6; x++)
      .col
        include includes/posts/post-item.pug       