extends ../layouts/right-content.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Dashboard';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

block content 

  // Featured blog post
  include includes/cards/card-overlay.pug
    
  .row
    - for (var x = 0; x < 6; x++)
      .col-lg-6.mb-4
        include includes/posts/post-item.pug       