extends ../layouts/right-content.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Dashboard';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    
//- prepend css
    //- Load Simple DataTables Stylesheet
    //- link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css', rel='stylesheet')

block content
    //- include includes/breadcrumb.pug       
    .row.gx-2.gx-lg-3.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
        -for(var x=0;x<4;x++)
            .col-lg-4
                include includes/products/product-item.pug     
    

append scripts
    //- Demo
   
    script(src='js/datatables-simple-demo.js')