extends ../layouts/products/full-width-detail.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Dashboard';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    
prepend css
    //Load Simple DataTables Stylesheet
    link(href='assets/swiper/swiper-bundle.min.css', rel='stylesheet')

block content
    //- include includes/breadcrumb.pug       
    include includes/products/product-detail.pug
    

prepend scripts
    //- Swiper   
    script(src='assets/swiper/swiper-bundle.min.js')