extends ../layouts/right-content.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Dashboard';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

block content 

    include includes/posts/post-detail.pug
