.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition-delay: 0.2s;
    &:hover {
        transform: translateY(-0.3333333333rem);
        box-shadow: 0 0.5rem 2rem 0 rgb(33 40 50 / 25%);
    }
}
