//- script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js', crossorigin="anonymous")
//- Load Feather icons plugin
script(src='assets/feather-icons/dist/feather.min.js')