// Related items section
section.py-5

  h2.fw-bolder.mb-4 Related products
  .row.gx-2.gx-lg-3.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
    -for(var x=0;x<4;x++)
      .col-lg-4
        include ../../../pages/includes/products/product-item.pug