.col-lg-4
  .testimonial-item.mx-auto.mb-5.mb-lg-0
    img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-1.jpg', alt='...')
    h5 Margaret E.
    p.font-weight-light.mb-0 "This is fantastic! Thanks so much guys!"