ul.list-inline.mb-0
  li.list-inline-item.me-4
      a(href='#!')
          i.bi-facebook.fs-3
  li.list-inline-item.me-4
      a(href='#!')
          i.bi-twitter.fs-3
  li.list-inline-item
      a(href='#!')
          i.bi-instagram.fs-3