// Search widget
.card.mb-4
  .card-header Product category
  .card-body
     .list-group.list-group-flush
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Dashboard
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Shortcuts
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Overview
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Events
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Profile
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='#!') Status