// Blog post
article.card
  img.card-img-top(src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg", alt="img")
  .card-body
    h5.card-title Card title
    p.card-text 

      |Some quick example text to build on the card title and make up the bulk of the card's content
    a.btn.btn-primary.stretched-link(href="single.html") Read more