// Blog post
article.card
  img.card-img-top(src="assets/img/news/img2.jpg", alt="img")
  .card-body
    h5.card-title Card title Some quick example text to build on the card title and make up
    p.card-text 

      |Some quick example text to build on the card title and make up the bulk of the card's content