// Blog post
<<<<<<< HEAD
article.card
  .ratio.ratio-16x9
    img.card-img-top(src="assets/img/news/img2.jpg", alt="img")
=======
article.card.card-larger
  .ratio.ratio-16x9
    img.card-img-top(src="assets/img/news/img3.jpg", alt="img")
>>>>>>> 20bc78e2b76040d4e268b125bec5852b4affe0ec
  .card-body
    h5.fs-3.card-title
      a.stretched-link(href="single.html") Card title Some quick example text to build on the card title and make up
    p.card-text 

      |Using a combination of grid and utility classes, cards can be made horizontal in a mobile-friendly and responsive way. In the example below, we remove the grid gutters with