article.card.mb-3.card-horizontal
  .row.g-0
    .col-md-4
      img.card-img.h-100(src="assets/img/news/img4.jpg", alt="img")
    .col-md-8
      .card-body
        h5.card-title
          a.stretched-link(href="single.html") This is a wider card with supporting supporting text below
        p.card-text
          |This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        //- p.card-text 
        //-   small.text-muted  Last updated 3 mins ago   